@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
}

#logo {
  height: 100px;
  background: black url(../assets/logo-p.png) center no-repeat;
  background-size: contain;
  margin: 0 0 -14px;
  transition: all 0.3s ease-in-out;
}

header p {
  background-color: unset;
  color: #d1d0d1;
  font-weight: 700;
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 0 auto 8px;
  transition: all 0.3s ease-in-out;
}

#nav {
  list-style: none;
  padding: 8px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  border-bottom: 2px solid rgb(128, 128, 128);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

#nav ul {
  display: flex;
}

#nav li {
  margin-right: 10px;
}

#nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  transition: color 0.2s ease-in-out;
}

#nav li a:active {
  color: gray;
}

.pgselecionada {
  border-top: 2px solid rgba(128, 128, 128, 0.549);
  padding-top: 4px;
}

main {
  padding: 16px;
  margin: 12px auto 32px;
  transition: all 0.3s ease-in-out;
}

main h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 32px;
  transition: all 0.3s ease-in-out;
}

#index {
  font-size: 0.8em;
  text-indent: 20px;
  line-height: 20px;
}

#sobre {
  font-size: 0.9em;
}

.desafio {
  font-size: 0.8em;
  margin: 0 -16px 0;
}

.selecionado {
  background-color: rgba(112, 128, 144, 0.274);
  width: 100%;
  padding: 4px;
  border: none;
  border-bottom: 1px solid;
  text-indent: 16px;
  text-align: left;
  font-size: 1.5em;
  font-family: "Opens Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.selecionado:focus {
  background-color: rgb(112, 128, 144);
}

.selecionado .span {
  font-size: 0.9em;
  width: 15px;
  margin: 0 4px -2px 0;
  transition: transform 0.3s ease-in-out;
}

.girar {
  transform: rotate(90deg);
}

.container {
  background-color: white;
  margin: 0 -16px;
  padding: 8px 16px;
  display: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.ativo {
  display: block;
  animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.objetivo,
.resultado,
p {
  margin: 0 16px 8px;
}

.objetivo::before {
  content: "Objetivo: ";
  font-weight: 700;
}

.resultado::before {
  content: "Resultado: ";
  font-weight: 700;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.6em;
  padding: 4px;
  transition: all 0.3s ease-in-out;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer a:active {
  text-decoration: none;
  color: gray;
}

