@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
}

#logo {
  height: 100px;
  background: black url(../assets/logo-p.png) center no-repeat;
  background-size: contain;
  margin: 0 0 -14px;
  transition: all 0.3s ease-in-out;
}

header p {
  background-color: unset;
  color: #d1d0d1;
  font-weight: 700;
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 0 auto 8px;
  transition: all 0.3s ease-in-out;
}

#nav {
  list-style: none;
  display: flex;
  padding: 8px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  border-bottom: 2px solid rgb(128, 128, 128);
  transition: all 0.3s ease-in-out;
}

#nav li {
  margin-right: 10px;
}

#nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  transition: color 0.2s ease-in-out;
}

#nav li a:active {
  color: gray;
}

.home,
.desafios,
.sobre {
  border-top: 2px solid rgba(128, 128, 128, 0.549);
  padding-top: 4px;
}

main {
  padding: 16px;
  margin: 12px auto 32px;
  transition: all 0.3s ease-in-out;
}

main h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 32px;
  transition: all 0.3s ease-in-out;
}

#desafio {
  font-size: 0.8em;
}

#selecionado {
  background-color: rgba(112, 128, 144, 0.274);
  margin: 0 -16px 0;
  border-bottom: 1px solid;
  text-indent: 16px;
}

#selecionado::before {
  content: "• ";
}

#container {
  border-bottom: 1px solid;
  margin: 0 -16px;
  padding: 8px 16px;
  display: none;
}

#objetivo,
#resultado {
  margin-bottom: 8px;
}

#objetivo::before {
  content: "Objetivo: ";
}

#resultado::before {
  content: "Resultado: ";
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.6em;
  padding: 4px;
  transition: all 0.3s ease-in-out;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer a:active {
  text-decoration: none;
  color: gray;
}
